 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 body{
	font-family: 'Times New Roman', Times, serif;
}

 .navbar{
	 width:100%;
 	display: flex;
 	align-items: center;
 	padding:20px;
 }

 nav{
 	flex: 1;
 	text-align: right;
 }

 nav ul{
	 font-family: 'Times New Roman', Times, serif;
 	display: inline-block;
 	list-style-type: none;
 }

 nav ul li {
	display: inline-block;
 	margin-right: 30px;
 }

 a{
	 font-family:'Times New Roman', Times, serif;
	 font-size: 30px;
	text-align:center ;
 	text-decoration: none;
 	color: #555;
 }
 nav ul li a:hover{
	 background-color: white;
 }

 p{
	 font-size:20px;
 	color: #555;
 }
 
 .logo{
	 font-size:55px;
 }

 .container{
 	
 	margin: auto;
 	padding-left: 25px;
 	padding-right: 25px;
	 padding-top: 30px;

 }
 h3{
	 font-size:30px;
 }
 .btn{
	 font-size:25px;
	 font-family: 'Times New Roman', Times, serif;
 }

 .row{
 	display: flex;
 	align-items: center;
 	flex-wrap: wrap;
 	justify-content: space-around;
 }

 .col-2{
 	flex-basis: 50%;
 	min-width: 300px;

 }

 .col-2 img{
 	max-width: 100%;
 	padding: 50px 0;

 }

 .col-2 h1{
 	font-size: 40px;
 	line-height: 60 px;
 	margin: 25px 0;
 }
 

 .btn{
 	display: inline-block;
 	background: #ff523b;
 	color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition :background 0.5s;
 }

 .btn:hover{
	background: #563434;

}


 .header{
 	background: radial-gradient(#fff,#ffd6d6)
 }

.header .row{
	margin-top: 70px;

}

.genres{
	margin: 70px 0 ;

}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	
}

.col-3 img{
	width : 100%;
	
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 2px;
	padding-right: 2px;
}

.col-4{
	flex-basis: 25%;
	padding : 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	color: #555;
}
.row .btn{
	scroll-behavior: smooth;
}
.title::after{
	content: '';
	font-family: 'Times New Roman', Times, serif;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4{
	color: #555;
	font-weight: normal;
}
.main{
	float: left;
	width: 100px;
	height: 100px;
	
}

.col-4 p{
	font-size: 14px;

}

.rating .fa{
	color: #ff523b;
}

.col-4:hover{
	transform: translateY(-5px);

}

.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
h1{
	font-family: 'Times New Roman', Times, serif;
}

/*offer*/

.offer{
	background: radial-gradient(#fff,#ffd6d6);
	margin-top: 80px;
	padding-right: 30px 0;

}

.col-2 .offer-img{
	padding: 50px;
}

small{
	color: #555;
}
.small-img-row{
	display:flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis:24%;;
	cursor:pointer;
}
.dropdown {
	float:right;
	overflow: hidden;
  }
  .option{
	  font-size: 25px;
	  font-family: 'Times New Roman', Times, serif;

  }
  
  
  
  /* Dropdown button */
  .dropbtn{
	  font-family: 'Times New Roman', Times, serif;
  }
  .dropdown .dropbtn {
	 
	font-size: 30px;
	border: none;
	outline: none;
	padding-right:10px;
	
	background-color: inherit;
	
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown .dropbtn:hover{
	background-color: white;
  }
  

  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size:25px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  .form input{
	 font-size:20px;
  }
/*---------testimonial--------*/

.testimonial{
	color: #fff;
	padding-top: 100px;

}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s
}

.testimonial .col-3 .test-img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover{
	transform: translateY(-10px);

}

.fa.fa-quote-left{
	font-size: 20px;
	color: #ff523b;
}

.col-3 p{
	font-size: 17px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

h4{
	font-size: 30px;
}

.btn a{
	color: white;
}
 

/*--------footer---------*/

.footer{
	background: #000 ;
	color: #8a8a8a ;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color: #8a8a8a ;

}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}

.footer-col-2{
	flex:1;
	text-align: center;
}

.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;

}

.app-logo img{
	width: 140px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
    display: none;
}

/*----------media query for menu--------*/

@media only screen and (max-width: 800px){
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 1000%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: #fff;
	}

	.menu-icon{
		display: block;
		cursor:pointer;
	}
 }


 /*----------all products-----------*/
 .row-2{
 	justify-content: space-between;
 	margin: 100px auto 50px;
 }

 select{
 	border: 1px solid #ff523b;
 	padding: 5px;
 }

 select:focus{
 	outline: none;
 }

 .page-btn{
 	margin: 0 auto 80px;
 }

.page-btn span{
	display: inline-block;
	border:1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;

}

.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}

 /*--------media query for less than 600 screen size------*/
@media only screen and (max-width: 600px){
	.row {
		text-align: center;

	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}
}






